<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kmc">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kmc">
        <activity
            android:name=".SOLogin.SoGroundingSearch"
            android:exported="false" />
        <activity
            android:name=".SOLogin.SoAmountDbtoBenSearch"
            android:exported="false" />
        <activity
            android:name=".SOLogin.SoAddEditSearch"
            android:exported="false" />
        <activity
            android:name=".PSLogin.PsAddEditSearch"
            android:exported="false" />
        <activity
            android:name=".SPLogin.SpGroundingSearch"
            android:exported="false" />
        <activity
            android:name=".SPLogin.SpDbToBenSearch"
            android:exported="false" />
        <activity
            android:name=".SPLogin.SpAmountToDbSearch"
            android:exported="false" />
        <activity
            android:name=".SPLogin.SpListOfBenSearch"
            android:exported="false" />
        <activity
            android:name=".PSLogin.PSSearchGrounding"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorSearchGrounding"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorSearchAmountDBToBen"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorSearchAmountToDB"
            android:exported="false" />
        <activity
            android:name=".PSLogin.PSSearchAmountDBToBen"
            android:exported="false" />
        <activity
            android:name=".PSLogin.PSSearchAmountToDB"
            android:exported="false" />
        <activity
            android:name=".CLogin.VillageDemo"
            android:exported="false" />
        <activity
            android:name=".CLogin.MandalDemo"
            android:exported="false" />
        <activity
            android:name=".CLogin.Demo"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorSearch"
            android:exported="false" />
        <activity
            android:name=".CLogin.Reports"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorVillageOverview"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorMandalOverview"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorConstituencyOverview"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorDistrictOverview"
            android:exported="false" />
        <activity
            android:name=".CLogin.MandalPending"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorMenu"
            android:exported="false" />
        <activity
            android:name=".SOLogin.addVendor"
            android:exported="false" />
        <activity
            android:name=".SOLogin.SOAddEdit"
            android:exported="false" />
        <activity
            android:name=".CLogin.change_password_ctr"
            android:exported="false" />
        <activity
            android:name=".SOLogin.password_change_so"
            android:exported="false" />
        <activity
            android:name=".SPLogin.password_change_sp"
            android:exported="false" />
        <activity
            android:name=".PSLogin.password_change"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorDistrictMasterReport"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorMasterReport"
            android:exported="false" />
        <activity
            android:name=".SOLogin.SOMasterReport"
            android:exported="false" />
        <activity
            android:name=".SPLogin.SPMasterReport"
            android:exported="false" />
        <activity
            android:name=".PSLogin.PSMasterReport"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorGroundingUserDetails"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorGrounding"
            android:exported="false" />
        <activity
            android:name=".SOLogin.SOGroundingUserDetails"
            android:exported="false" />
        <activity
            android:name=".SOLogin.SOGrounding"
            android:exported="false" />
        <activity
            android:name=".SPLogin.SPGroundingUserDetails"
            android:exported="false" />
        <activity
            android:name=".SPLogin.SPGrounding"
            android:exported="false" />
        <activity
            android:name=".PSLogin.PSGroundingUserDetails"
            android:exported="false" />
        <activity
            android:name=".PSLogin.PSGrounding"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorUserDetailsAmountDBToBen"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorAmountDBToBen"
            android:exported="false" />
        <activity
            android:name=".SOLogin.SOUserDetailsAmountDBToBen"
            android:exported="false" />
        <activity
            android:name=".SOLogin.SOAmountDBToBen"
            android:exported="false" />
        <activity
            android:name=".SOLogin.SO_Action"
            android:exported="false" />
        <activity
            android:name=".SPLogin.SPAmountDBToBen"
            android:exported="false" />
        <activity
            android:name=".SPLogin.SPUserDetailsAmountDBToBen"
            android:exported="false" />
        <activity
            android:name=".PSLogin.userDetailsAmountDBtoBen"
            android:exported="false" />
        <activity
            android:name=".PSLogin.PSAmountDBToBen"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorUserDetailsAmountToDB"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorAmountToDB"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorAction"
            android:exported="false" />
        <activity
            android:name=".SPLogin.SPAmountToDB"
            android:exported="false" />
        <activity
            android:name=".PSLogin.userDetailsAmountToDB"
            android:exported="false" />
        <activity
            android:name=".PSLogin.PSAmountToDB"
            android:exported="false" />
        <activity
            android:name=".SPLogin.SP_Action"
            android:exported="false" />
        <activity
            android:name=".PSLogin.PS_Action"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorVillageSelection"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorMandalSelection"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorUserDetails"
            android:exported="false" />
        <activity
            android:name=".SOLogin.SOUserDetails"
            android:exported="false" />
        <activity
            android:name=".SOLogin.SOListOfBen"
            android:exported="false" />
        <activity
            android:name=".login.SOLogin"
            android:exported="false" />
        <activity
            android:name=".SPLogin.SPUserDetails"
            android:exported="false" />
        <activity
            android:name=".SPLogin.SPUserDetailsAmountToDB"
            android:exported="false" />
        <activity
            android:name=".login.Collector_Login"
            android:exported="false" />
        <activity
            android:name=".CLogin.CollectorListOfBen"
            android:exported="false" />
        <activity
            android:name=".PSLogin.userDetails"
            android:exported="false" />
        <activity
            android:name=".PSLogin.addIndividual"
            android:exported="false" />
        <activity
            android:name=".login.SPLogin"
            android:exported="false" />
        <activity
            android:name=".SPLogin.ListOfBen"
            android:exported="false" />
        <activity
            android:name=".PSLogin.PSAddEdit"
            android:exported="false" />
        <activity
            android:name=".login.PSLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
    </application>

</manifest>